.result {
    height: 70px;
    background-color: rgb(241, 232, 232);
    width: 500px;
    padding: 30px;
  }
  
  .result p {
    font-size: 30px;
    padding: 20px;
  }
  
  .calculator-body {
    max-width: 1500px;
    margin-left: 655px;
    padding: 50px;
    padding-top: 100px;
  }
  
  .button {
    display: block;
    background-color: rgb(206, 194, 194);
    width: 500px;
    padding-bottom: 20px;;
  }
