.wrapper_2 {
    display: grid;
    grid-template-columns: 750px 750px;
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 30px;
    padding: 30px;
    margin-left: 300px;
    font-weight: 1000;
    font-size: 23px;
    max-width: 100%;
    height: "auto";
}
  
.wrapper_2 > div {
    opacity: 0.6;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.wrapper_2 > div:hover { 
    opacity: 1;
}

pre {
    text-align: left;
}
  
.p_one {
    background-image: url("https://cdn.pixabay.com/photo/2014/09/14/18/04/dandelion-445228_960_720.jpg");
    padding-top: 30px;
    text-shadow: 2px 2px white;
}
  
.p_two {
    background-image: url("https://cdn.pixabay.com/photo/2018/05/04/23/31/grass-3375344_960_720.jpg");
    color: rgb(27, 15, 3);
}
  
.p_three {
    background-image: url("https://images.unsplash.com/photo-1459664018906-085c36f472af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    padding-top: 70px;
}

.p_four {
    background-image: url("https://cdn.pixabay.com/photo/2013/08/27/22/39/gooseberry-176450_960_720.jpg");
    color: white;
    text-shadow: 2px 2px rgb(18, 77, 0);
    padding-top: 20px;
}

.p_five {
    background-image: url("https://images.unsplash.com/photo-1464820453369-31d2c0b651af?ixid=Mnwxt=crop&w=2000&q=80");
    color:rgb(0, 15, 15);
    padding-top: 30px;
}

.p_six {
    background-image: url("https://images.unsplash.com/photo-1466781783364-36c955e42a7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80");
    color:rgb(0, 15, 15);
}


/* h1 text shadow  */
.text_shadow {
    color:rgb(19, 142, 151);
    text-shadow: 2px 2px #920e80;
    font-size: 60px;
}

/* p text shadow */
.text_shadow_2 {
    color:rgb(226, 43, 202);
    text-shadow: 1px 1px rgb(7, 110, 117);
}
