.wrapper_3 {
    display: grid;
    grid-template-columns: 750px 750px;
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 30px;
    padding: 10px;
    margin-left: 290px;
    color:rgb(21, 22, 22);
    max-width: 100%;
    height: "auto";
  }

  .wrapper_3 > div {
    opacity: 0.7;
  }
  
  .wrapper_3 > div:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* simple-linear */
  .f_one {
    background: linear-gradient(PaleTurquoise, Orange);
    padding-top: 50px;
  }
  
  /* horizontal-gradient */
  .f_two {
    background: linear-gradient(to right,PaleTurquoise, Orange);
    padding-top: 30px;
  }
  
  /* diagonal-gradient */
  .f_three {
    background: linear-gradient(to bottom right,PaleTurquoise, Orange);
    padding-top: 30px;
  }
  
  /* angled-gradient */
  .f_four {
    background: linear-gradient(70deg,PaleTurquoise, Orange);
    padding-top: 100px;
  }

  /* color-hint */
  .f_five {
    background: linear-gradient(PaleTurquoise, 30%, Orange);
    padding-top: 100px;
  }

  /* simple-linear */
  .f_six {
    background: linear-gradient(PaleTurquoise, Orange);
    padding-top: 10px;
  }

 